{
    "agent": {
        "metrics_collection_interval": {{ agent_metrics_collection_interval | default(60) }},
        "run_as_user": "{{ agent_run_as_user | default('root') }}"
    },
    "metrics": {
        "namespace": "{{ metrics_namespace | default('CWAgent') }}",
        "append_dimensions": {
            "InstanceId": "{{ instance_id | default('i-xxxxxxxx') }}",
            "AutoScalingGroupName": "{{ asg_name | default('') }}",
            "ImageId": "{{ image_id | default('ami-xxxxxxxx') }}",
            "InstanceType": "{{ instance_type | default('t2.micro') }}"
        },
        "metrics_collected": {
            "CPU": {
                "measurement": [
                    "cpu_usage_idle",
                    "cpu_usage_iowait",
                    "cpu_usage_user",
                    "cpu_usage_system"
                ],
                "metrics_collection_interval": {{ cpu_metrics_collection_interval | default(60) }},
                "resources": [
                    "*"
                ],
                "totalcpu": true
            },
            "Disk": {
                "measurement": [
                    "used_percent"
                ],
                "metrics_collection_interval": {{ disk_metrics_collection_interval | default(60) }},
                "resources": [
                    "*"
                ]
            },
            "Mem": {
                "measurement": [
                    "mem_used_percent"
                ],
                "metrics_collection_interval": {{ mem_metrics_collection_interval | default(60) }}
            }
        }
    }
}